.moj_div {
    border-radius: 10px;
    width: 80px;
    height: 50px;
    border: 2px solid #000000;
    cursor:pointer;
}
#bel {
    background-color: rgba(200,200,200,1.0);
}
#zelen {
    background-color: rgba(0,200,0,1.0);
}
#rumen {
    background-color: rgba(210,210,0,1.0);
}
#rdec {
    background-color: rgba(200,0,0,1.0);
}
#crn {
    background-color: rgba(20,20,20,1.0);
}

#bel:hover {
    background-color: rgba(200,200,200,0.5);
}
#zelen:hover {
    background-color: rgba(0,200,0,0.5);
}
#rumen:hover {
    background-color: rgba(210,210,0,0.5);
}
#rdec:hover {
    background-color: rgba(200,0,0,0.5);
}
#crn:hover {
    background-color: rgba(20,20,20,0.5);
}

.moj_td {
    padding-left: 5px;
}